{
  "$schema": "https://aka.ms/terminal-profiles-schema",
  "defaultProfile": "{61c54bbd-c2c6-5271-96e7-009a87ff44bf}",
  "alwaysShowTabs": true,
  "closeOnExit": "graceful",
  "confirmCloseAllTabs": false,
  "copyFormatting": false,
  "copyOnSelect": true,
  "disableAnimations": false,
  "fontFace": "Cascadia Code PL",
  "historySize": 9001,
  "multiLinePasteWarning": false,
  "showTabsInTitlebar": true,
  "showTerminalTitleInTitlebar": true,
  "snapOnInput": true,
  "tabWidthMode": "titleLength",
  "profiles": {
    "defaults": {},
    "list": [
      {
        "acrylicOpacity": 0.75,
        "background": "#012456",
        "commandline": "powershell.exe -NoLogo",
        "guid": "{61c54bbd-c2c6-5271-96e7-009a87ff44bf}",
        "icon": "%USERPROFILE%/.config/icons/windows_powershell.png",
        "name": "Windows PowerShell",
        "startingDirectory": "C:/tmp",
        "useAcrylic": true
      },
      {
        "acrylicOpacity": 0.75,
        "commandline": "%PROGRAMFILES%/PowerShell/7-preview/pwsh.exe -NoLogo",
        "guid": "{572e775e-4f2a-5b96-ac1e-a2962a302336}",
        "icon": "%USERPROFILE%/.config/icons/powershell.png",
        "name": "PowerShell",
        "startingDirectory": "C:/tmp",
        "useAcrylic": true
      },
      {
        "acrylicOpacity": 0.75,
        "guid": "{0caa0dad-35be-5f56-a8ff-afceeeaa6101}",
        "icon": "%USERPROFILE%/.config/icons/cmd.png",
        "name": "Command Prompt",
        "startingDirectory": "C:/tmp",
        "useAcrylic": true
      },
      {
        "acrylicOpacity": 0.95,
        "guid": "{58ad8b0c-3ef8-5f4d-bc6f-13e4c00f2530}",
        "icon": "%USERPROFILE%/.config/icons/tux.png",
        "name": "Debian (WSL)",
        "source": "Windows.Terminal.Wsl",
        "startingDirectory": "/mnt/c/tmp/",
        "useAcrylic": true
      },
      {
        "acrylicOpacity": 0.95,
        "commandline": "ssh -t {{ .custom_remote_host }} fish",
        "guid": "{c04584a5-6759-4c9b-a39a-49cd41a26daf}",
        "icon": "%USERPROFILE%/.config/icons/ssh.png",
        "name": "SSH: {{ .custom_remote_host }}",
        "useAcrylic": true
      },
      {
        "guid": "{574e775e-4f2a-5b96-ac1e-a2962a402336}",
        "hidden": true,
        "name": "PowerShell",
        "source": "Windows.Terminal.PowershellCore"
      },
      {
        "guid": "{a3a2e83a-884a-5379-baa8-16f193a13b21}",
        "hidden": true,
        "name": "PowerShell 7 Preview",
        "source": "Windows.Terminal.PowershellCore"
      },
      {
        "guid": "{b453ae62-4e3d-5e58-b989-0a998ec441b8}",
        "hidden": true,
        "name": "Azure Cloud Shell",
        "source": "Windows.Terminal.Azure"
      }
    ]
  },
  "schemes": [],
   "actions": [
    {
      "command": {
        "action": "copy",
        "singleLine": false
      },
      "keys": "ctrl+c"
    },
    {
      "command": "paste",
      "keys": "ctrl+v"
    },
    // Open the search box
    {
      "command": "find",
      "keys": "ctrl+shift+f"
    },
    {
      "command": {
        "action": "splitPane",
        "split": "auto",
        "splitMode": "duplicate"
      },
      "keys": "alt+shift+t"
    },
    // Custom shortcuts
    {
      "command": {
        "action": "splitPane",
        "split": "auto",
        "splitMode": "duplicate"
      },
      "keys": "alt+shift+t"
    },
    // Settings GUI
    {
      "command": {
        "action": "openSettings",
        "target": "settingsUI"
      },
      "keys": "ctrl+shift+,"
    },
    // New Tab
    {
      "command": {
        "action": "newTab",
      },
      "keys": "ctrl+shift+n"
    }
  ]
}